.modalTable2 {
    overflow-x: auto;
    max-width: 100%;
    position: relative;
  }
  .TopupTable {
    width: 100%;
}
.TopupTable th:nth-child(1),td:nth-child(1){
    text-align: center;
}
.col1{
    width: 100px;
}
.col2{
    width: 150px;
}
.col3{
    width: 200px;
}
.col4{
    width: 350px;
}

.buttonEnabled {
    background-color: #4400A5; /* สีทึบ */
    color: white;
    border: 1px solid #4400A5;
  }
  
  .buttonDisabled {
    background-color: #A79AC4; /* สีจาง */
    color: #DDD;
    border: 1px solid #A79AC4;
  }
  
  .buttonHover:enabled {
    background-color: white;
    color: #4400A5;
    cursor: pointer;
  }
  
@media (max-width:1024px){
    .col1{
        width: auto !important;
    }
    .col2{
        width: auto;
    }
    .col3{
        width: 128px;
    }
    .col4{
        width: auto;
    }
}
.TopupTable th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.TopupTable th {
    background-color: #4400A51F;
    color: white;
    position: sticky;
    top: 0;
}

.TopupTable thead {
    display: table;
    width: 100%;
}

.TopupTable tbody {
    display: block;
    overflow-y: auto;
    max-height: 150px;
    height: 150px;
}

.TopupTable tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

@media (max-width: 767px) {
    .TopupTable {
      border: 0;
    }
    .TopupTable tbody{
        max-height: 220px;
    }
    .TopupTable th:nth-child(1),td:nth-child(1){
        text-align: center;
        width: auto;
    }
  
    .TopupTable caption {
      font-size: 1.3em;
    }
    
    .TopupTable thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .TopupTable tr {
      border: 3px solid #ddd;
      display: block;
      margin-bottom: 2rem;
    }
    
    .TopupTable td {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    font-size: .8em;
    height: 55px;
    position: relative;
    box-sizing: border-box;
    }
    
    .TopupTable td::before {
      content: attr(data-label);
      position: absolute;
        left: 0;
        width: 32%;
        padding-left: 15px;
        text-align: left;
    }
    
    .TopupTable td:last-child {
      border-bottom: 0;
    }
  }