/* ซ่อนปุ่มเพิ่มและลดของ input[type="number"] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* เพื่อให้ทำงานกับ Firefox */
}
table {
    width: 100%;
}
th:nth-child(1),td:nth-child(1){
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4400A51F;
    color: white;
    position: sticky;
    top: 0;
    width: 100px;
}

thead {
    display: table;
    width: 100%;
}

tbody {
    display: block;
    overflow-y: auto;
    max-height: 800px; /* ปรับความสูงตามต้องการ */
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.bg-white-text-purple {
    background-color: #ffffff;
    color: #4400A5; /* สีม่วง */
}

@media (max-width:767px){
    th:nth-child(1),td:nth-child(1){
        text-align: right;
    }
}
@media (max-width:767px){
    .col1{
        width: auto;
    }
    .col2{
        width: auto;
    }
    .col3{
        width: auto;
    }
    .col4{
        width: auto;
    }
}

@media (min-width:768px)
{
    .footer
{
    position: absolute;
    bottom: -25.5%;
}
}
