input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 5px;
    color: #4400a5;
}


form input:focus {
    outline: none;
    color: #4400a5; /* Text color when focused */
    background-color: rgba(229, 220, 241, 0.66); /* Background color when focused */
}
  
form input:not(:placeholder-shown) {
    color: #4400a5;
    background-color: rgba(229, 220, 241, 0.66);
  }
.recomend {
    display: grid;
    gap: 5px;
    margin-top: 0.5rem;
}

Select{
    color: white;
}
