input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 5px;
    color: #4400a5;
}


form input:focus {
    outline: none;
    color: #4400a5; /* Text color when focused */
    background-color: rgba(229, 220, 241, 0.66); /* Background color when focused */
}
  
form input:not(:placeholder-shown) {
    color: #4400a5;
    background-color: rgba(229, 220, 241, 0.66);
  }
.recomend {
    display: grid;
    gap: 5px;
    margin-top: 0.5rem;
}

Select{
    color: white;
}

.title,.comeback
{
    font-size: clamp(0.75rem, 0.5227rem + 0.6061vw, 1.25rem);
}

.countdowns
{
    font-size: clamp(0.625rem, 0.483rem + 0.3788vw, 0.9375rem);
}

@media (max-width:1024px)
{
   .icon
   {
    width: 100%;
    margin: 0.5rem 1rem;
   }
   .title
   {
    margin-bottom: 0.5rem;
   }
}



@media screen and (height: 720px) {
    .footers,.logo
   {
    position: relative;
    margin-top: 2.5rem;
    
   }
  }
@media screen and (height: 600px) {
    .footers,.logo
   {
    position: relative;
    margin-top: 2.5rem;
    
   }
  }

@media (max-width:600px)
{
   .icon
   {
    width: 100%;
    margin: 0.5rem 1rem;
   }
   
   .container-success
   {
    width: 60%;
    padding: 0 1rem;
   }

   .title
   {
    margin-bottom: 0.5rem;
   }

   .icon-container
   {
    width: 60%;
   }

   .icon
   {
    width: 80%;
   }

   .footers
   {
    position: relative;
   }

}

@media (max-height:375px)
{
   .icon
   {
    width: 100%;
    margin: 0.5rem 1rem;
   }
   
   .container-success
   {
    width: 60%;
    padding: 0 1rem;
   }

   .title
   {
    margin-bottom: 0.5rem;
   }

   .icon-container
   {
    width: 60%;
   }

   .icon
   {
    width: 80%;
   }

   .footers,.logo
   {
    position: relative;
    margin-top: 2.5rem;
   }

}

.title-header
{
    font-size: clamp(1.125rem, 0.9545rem + 0.4545vw, 1.5rem);
}